<!DOCTYPE html>
<html lang="">
<head>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title></title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>

 <body>
      <div class="container">
        <h2>API Project: Request Header Parser Microservice</h2>

        <h3>Example Usage:</h3>
        <p>
          https://header-parserfcc.glitch.me/who
        </p>

        <h3>Example Output:</h3>
        <p>
          <code>{"ipadress":"89.161.54.58","language":"pl-PL","software":"Windows NT 10.0; Win64; x6"}</code>
        </p>
      </div>
      </div>
   </body>
</html>
